<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="100451339 & 100451059 & ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Práctica Criptografia - Parte 1</title>
</head>

<body>
    <form action="" method="post">
        <label for="msgA">Mensaje Usuario A:</label>
        <input type="text" id="msgA" name="msgA" placeholder="mensaje">
        <button type="submit">Enviar</button>
    </form>
    <br>
    <form action="" method="post">
    <label for="msgB">Mensaje Usuario B:</label>
        <input type="text" id="msgB" name="msgB" placeholder="mensaje">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>