<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="100451339 & 100451059 & ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Práctica Criptografia - Parte 1</title>
</head>
<body>
    <div class="mensajes">
        <h1>
            Bienvenido, <br> favor ingrese su token de acceso 
        </h1>
        <div class="mensaje-usuario">
            <div class="mensaje-usuario">
                <form action="" method="post">
                    <input type="text" id="msgA" name="msgA"  placeholder="Token del Usuario" >
                    <div id="boton">
                        <button type="submit">
                        enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>