<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="100451339 & 100451059 & ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Práctica Criptografia - Parte 1</title>
</head>

<body>
    <div class="background">
        <img href="https://img.freepik.com/premium-photo/business-conference-with-busines-man-woman_9693-1559.jpg?w=2000">
    </div>
    <form class="mensajes" action="" method="">
        <h1>
            Bienvenido, escriba un mensaje para ser encriptado.
        </h1>
        <div class="mensaje-usuario">
            <p>
                Mensaje Usuario A
            </p>
            <div class="mensaje-envio">
                <input type="text" id="msgA" name="msgA" placeholder="Escriba un mensaje">
                <button type="submit"></button>
            </div>
        </div>
        <div class="mensaje-usuario">
            <p>
                Mensaje Usuario B
            </p>
            <div class="mensaje-envio">
                <input type="text" id="msgB" name="msgB" placeholder="Escriba un mensaje">
                <button type="submit"></button>
            </div>
        </div>
    </form>

</body>
</html>