<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="100451339 & 100451059 & ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Práctica Criptografia - Parte 1</title>
</head>

<body>
    
    </div>
    <div class="mensajes">
        <h1>
            ¿Cuánto dinero quiere ingresar?
        </h1>
        <div class="mensaje-usuario2">
                <form action="" method="post">
                    <input type="text" id="msgB" name="msgB" placeholder="dinero (en euros)">
                    <div id="boton">
                        <button type="submit">
                        enviar
                </form>
            </div>
        </div>
    </div>
</body>
</html>