<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="100451339 & 100451059 & ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>Práctica Criptografia - Parte 1</title>
</head>

<body>
    <div class="background">
        <img href="https://img.freepik.com/premium-photo/business-conference-with-busines-man-woman_9693-1559.jpg?w=2000">
    </div>
    <div class="mensajes">
        <h1>
            Cuanto dinero quiere ingresar?
        </h1>
        <div class="mensaje-usuario">
            <div class="mensaje-envio">
                <form action="" method="post">
                    <input type="text" id="msgB" name="msgB" placeholder="dinero (en euros)">
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>